.contact {
  display: flex;
  justify-content: space-between;
}

.contactDescription {
  width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 5px;
}

.formGroup {
  display: flex;
}

.formGroup + .formGroup {
  margin-top: 0.5rem;
}

.formControl,
.textarea {
  font-size: 0.8rem;
}

.formControl {
  width: 100%;
  padding: 0.5rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid teal;
}

.textarea {
  width: 100%;
  border: 2px solid teal;
  border-radius: 5px;
}
