.footer {
  margin-top: 5rem;
}

.footerContainer {
  width: 80%;
  margin: 0 auto;
}

.bottomNavContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 35em) {
  .bottomNavContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.bottomNavLink {
  display: flex;
  margin-top: 1rem;
}

@media (min-width: 35em) {
  .bottomNavLink {
    margin-top: 0;
  }
}
