.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoTitle {
  font-size: 1rem;
  letter-spacing: -5px;
}

.logIn {
  text-transform: capitalize;
  border: 2px solid black;
  padding: 0.5rem 0.25rem;
}
