.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 35em) {
  .headerContainer {
    width: 80%;
    margin: 0 auto;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoTitle {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -5px;
}

.logIn {
  text-transform: capitalize;
  border: 2px solid black;
  padding: 0.5rem 0.25rem;
}
