.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 35em) {
  .headerContainer {
    width: 80%;
    margin: 0 auto;
  }
}

.logIn {
  text-transform: capitalize;
  border: 2px solid var(--clr-black);
  padding: 0.5rem 0.25rem;
}
